<!doctype html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <title>{% block title %}.:: VankoSoft{% endblock %}</title>

        {% block head_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% if applicationIcon is defined %}
                <link rel="icon" type="image/svg+xml" href="{{ asset( applicationIcon ) }}" />
            {% endif %}
        {% endblock %}

        {# DONT USE ASSETS BECAUSE ITS CANNOT FOUND IN OTHER APPLICATIONS
         ###################################################################
        {% block head_styles %}
            {{ encore_entry_link_tags( 'css/global' ) }}
        {% endblock %}

        {% block head_scripts %}
            {{ encore_entry_script_tags( 'js/app' ) }}
        {% endblock %}
        #}
    </head>
    <body>
        {% include '@VSApplication/Layout/alerts.html.twig' %}
        <div class="splash-container">
            <div class="card ">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
