#FileUploadProgressbar {
    height: 22px !important;
    position: relative !important;
}

#FileUploadProgressbar div.progressInfo {
    position: absolute !important;
    width: 100%;
    height: 22px !important;
    position: absolute !important;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999;
}

#FileUploadProgressbar .ui-progressbar-value {
    position: absolute !important;
    height: 22px !important;
    top: 0;
    left: 0;
}
