<div class="splash" ng-cloak="">
    <h2>Loading</h2>
</div>

<div class="container view">
    <header>
        <h3>Users</h3>
    </header>

    <div>
        <a class="nav-pills hover" href="#/add-user">Add User</a>
    </div>
    <br /><br />

    <div ng-controller="UsersController">
        <div data-ng-include="messagesView" class="row"></div>
        <div data-ng-include="gridControlsView" class="row"></div>

        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th class="id">
                        <a data-ng-click="setOrder('id')">Id&nbsp;
                            <span data-ng-show="request.orderBy=='id'">
                                <span data-ng-show="request.orderDir=='DESC'" class="glyphicon glyphicon-arrow-up"></span>
                                <span data-ng-show="request.orderDir=='ASC'" class="glyphicon glyphicon-arrow-down"></span>
                            </span>
                        </a>
                    </th>
                    <th class="username">
                        <a ng-click="setOrder('username')">Username&nbsp;
                            <span data-ng-show="request.orderBy=='username'">
                                <span data-ng-show="request.orderDir=='DESC'" class="glyphicon glyphicon-arrow-up"></span>
                                <span data-ng-show="request.orderDir=='ASC'" class="glyphicon glyphicon-arrow-down"></span>
                            </span>
                        </a>
                    </th>
                    <th class="email">
                        <a ng-click="setOrder('email')">Title&nbsp;
                            <span data-ng-show="request.orderBy=='email'">
                                <span data-ng-show="request.orderDir=='DESC'" class="glyphicon glyphicon-arrow-up"></span>
                                <span data-ng-show="request.orderDir=='ASC'" class="glyphicon glyphicon-arrow-down"></span>
                            </span>
                        </a>
                    </th>
                    
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item.id}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td><a ng-click="editItem(item.id)" class="glyphicon glyphicon-edit" href="javascript:void(0);"></a></td>
                    <td><a ng-click="removeItem(item.id)" class="glyphicon glyphicon-remove" href="javascript:void(0);"></a></td>
                </tr>
            </tbody>
        </table>

        <div data-ng-include="paginationView" class="pagination pull-right"></div>
    </div>
</div>
