<!doctype html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
	<head>
        <title>{% block title %}.:: {{ applicationTitle | trans( {},'VSApplicationBundle' ) }}{% endblock %}</title>

        {% block head_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% if applicationIcon is defined %}
                <link rel="icon" type="image/svg+xml" href="{{ asset( applicationIcon ) }}" />
            {% endif %}
        {% endblock %}

        {% block head_styles %}
            {% include '@VSApplication/Layout/head-styles.html.twig' %}
        {% endblock %}

        {% block head_scripts %}
            {% include '@VSApplication/Layout/head-scripts.html.twig' %}
        {% endblock %}
    </head>
    <body>
        <div class="dashboard-main-wrapper">
            {% include '@VSApplication/Layout/alerts.html.twig' %}
            <div class="dashboard-header">
                {% include '@VSApplication/Layout/top.html.twig' %}
            </div>
            
            <div class="nav-left-sidebar sidebar-dark">
                <div class="menu-list">
                    {% include '@VSApplication/Layout/side.html.twig' %}
                </div>
            </div>
            
            <div class="dashboard-wrapper">
                <div class="container-fluid  dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">{% block pageTitle %}{% endblock %}</h2>
                                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        {{ knp_menu_render('breadcrumbs', {'template': '@VSApplication/Menu/breadcrumb.html.twig'}) }}
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    
                    {% block content %}{% endblock %}
                </div>
            </div>
            
            {% include '@VSApplication/Layout/footer.html.twig' %}
        </div>
        
        
        
        <!-- Modal Dialogs -->
        {% block modals %}{% endblock %}
        
        <!-- Optional JavaScript -->
        {% block body_scripts %}
            
       	{% endblock %}
    </body>
</html>
                	