<div id="taxonomyTaxonModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
					{{ 'vs_application.modal.taxonomy_taxon_edit.title' | trans( {},'VSApplicationBundle' ) }}
				</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="taxonomyTaxonBody" class="card alert shadow mb-2">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer" id="imContainer">
                <button type="button" class="btn btn-primary" id="btnSaveTaxon">
					{{ 'vs_application.form.save' | trans( {},'VSApplicationBundle' ) }}
				</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					{{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
				</button>
            </div>
        </div>
    </div>
</div>
