###> Eclipse project files ###
/.buildpath
/.project
/.settings
###< Eclipse project files ###

###> VisualParadigm Meta Files ###
/docs/technical/VisualParadigm/.VankosoftApplication.vpp.lck
/docs/technical/VisualParadigm/VankosoftApplication.vpp.bak_*
###< VisualParadigm Meta Files ###
