###> Eclipse project files ###
/.buildpath
/.project
/.settings
###< Eclipse project files ###

###> VisualParadigm Meta Files ###
/docs/technical/VisualParadigm/.CmsBundle.vpp.lck
/docs/technical/VisualParadigm/CmsBundle.vpp.bak_*
###< VisualParadigm Meta Files ###
