{# 
	Documentation for Macroses:
	============================
	https://twig.symfony.com/doc/3.x/tags/macro.html
#}

{% macro buttons( form ) %}
	<div class="row">&nbsp;</div>
	
    <div class="input-group row vsFormButtonsGroup">
    	<div class="col-sm-2">
            {{ form_widget(form.btnApply, {'attr': {'class': 'btn btn-primary', 'id':'btnApply'}}) }}
        </div>
        <div class="col-sm-2">
            {{ form_widget(form.btnSave, {'attr': {'class': 'btn btn-primary', 'id':'btnSave'}}) }}
        </div>
        <div class="col-sm-2">
            <a class="btn btn-default" href="{{ path( metadata.applicationName ~ '_' ~ metadata.name ~ '_index' ) }}">
                {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
            </a>
        </div>
        <div class="col-sm-6"></div>
    </div>
{% endmacro %}
