{% macro jquery_ui( id ) %}
    <div id="{{ id }}" style="display: none;" class="progressBar">
        <div class="progressInfo"><span class="caption"></span></div>
    </div>
{% endmacro %}

{% macro easy_ui( id ) %}
    <div id="{{ id }}" class="progressBar"></div>
{% endmacro %}
