{#
    MANUAL: https://getbootstrap.com/docs/5.0/components/spinners/
    NOTE: Add Class 'VsSpinnerOverlay' of The Parent Element Of The Spinner
#}
<div class="justify-content-center align-items-center VsSpinner" style="display: none;">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>