<h3>{{ 'vs_users.template.profile_change_password_header' | trans( {},'VSUsersBundle' ) }}</h3>
<section class="panel">
    <div class="panel-body bio-graph-info">
		{{ form_start(f, { 'attr': {'class': 'form-horizontal '} }) }}
            {{ form_widget(f) }}
        {{ form_end(f, {'render_rest': false}) }}
    </div>
</section>

