<section class="panel">                                          
    <div class="panel-body bio-graph-info">
        <h1> Profile Info</h1>
        {% form_theme form with ['IAApplicationCoreBundle:Form:form.html.twig', _self] %}
        
        {% block profile_row %}
            {# {{ block('form_widget_simple') }} #}
        {% endblock profile_row %}
        
        
        {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
            {{ form_widget(form) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>
