<h3>Activity </h3>
<div class="profile-activity">
	{% for activity in user.activities %}                                       
	    <div class="act-time">                                      
	        <div class="activity-body act-in">
	            <span class="arrow"></span>
	            <div class="text">
	                <a class="activity-img" href="#"><img alt="" src="img/chat-avatar.jpg" class="avatar"></a>
	                <p class="attribution"><a href="#">Activity name</a> at {{ activity.date | date( "g:ia , jS F Y ( l )" ) }}</p>
	                <p>{{ activity.activity }}</p>
	            </div>
	        </div>
	    </div>
	{% endfor %}
	
<!--
    <div class="act-time">                                      
        <div class="activity-body act-in">
            <span class="arrow"></span>
            <div class="text">
                <a class="activity-img" href="#"><img alt="" src="img/chat-avatar.jpg" class="avatar"></a>
                <p class="attribution"><a href="#">Jhon Loves </a> at 5:25am, 30th Octmber 2014</p>
                <p>Knowledge speaks, but wisdom listens.</p>                                                      
            </div>
        </div>
    </div>
-->

</div>
