<nav class="navbar navbar-expand-lg navbar-light">
    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    	<!-- sidebar menu start-->
        <ul class="navbar-nav flex-column">
            <li class="nav-divider">System</li>
    		{{ knp_menu_render('mainSystem', {'template': '@VSApplication/Menu/mainSystem.html.twig'}) }}
    		
    		<li class="nav-divider"><hr /></li>
    		<li class="nav-divider">CMS</li>
            {{ knp_menu_render('mainCms', {'template': '@VSApplication/Menu/mainCms.html.twig'}) }}
            
        {% if installedBundles['VSUsersSubscriptionsBundle'] is defined %}
            <li class="nav-divider"><hr /></li>
            <li class="nav-divider">Users Subscriptions</li>
            {{ knp_menu_render('mainUsersSubscriptions', {'template': '@VSUsersSubscriptions/Menu/mainUsersSubscriptions.html.twig'}) }}
        {% endif %}
            
        {% if installedBundles['VSPaymentBundle'] is defined %}
            <li class="nav-divider"><hr /></li>
            <li class="nav-divider">Payment</li>
            {{ knp_menu_render('mainPayment', {'template': '@VSPayment/Menu/mainPayment.html.twig'}) }}
        {% endif %}
        
        </ul>
    	<!-- sidebar menu end-->
    </div>
</nav>