{% extends "admin/layout.html.twig" %}

{% block title %}{{ parent() }} :: Edit Vocabulary{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Edit Vocabulary{% endblock %}

{% block content %}
    <div class="row">   
        <div class="col-lg-12">
            {% include 'IACmsBundle:TaxonomyVocabularies/Form:_vocabulary.html.twig' with {'form': form} %}
        </div>
    </div>
{% endblock content %}

{% block endDocumentScripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/taxonomy-vocabolarities.js') }}"></script>
{% endblock %}
