<div class="termsRow">
    <div class="col-sm-10">
        <div class="col-lg-1">
            <label></label>
        </div>
        <div class="col-lg-2">
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(form.description, {'attr': {'class': 'form-control m-bot15'}}) }}
        </div>

        <a href="javascript:;" class="btn btn-success btnAddTerm"><i class="icon_plus_alt2"></i></a>
        <a href="javascript:;" class="btn btn-danger btnRemoveTerm"><i class="icon_close_alt2"></i></a>
    </div>
</div>