<h1>Forgot Password email</h1>

<p>
	Reset password link: <a href="{{ resetUrl|raw }}">{{ resetUrl }}</a><br />
	The Link is valid up to {{ expiresAt }}.
</p>

<p>
	You get this mail because you start the process for reset your password.
</p>

<p>
    Cheers!
</p>
