{% extends "IAApplicationBundle::layout-login.html.twig" %} 

{% block content %}
    <form class="login-form" action="{{ path('ia_application_auth_login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input type="hidden" name="_target_path" value="account" />
        
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" placeholder="Email" autofocus id="username" name="_username" />
            </div>
            
            <button class="btn btn-primary btn-lg btn-block" type="submit">Send</button>
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('ia_application_auth_login') }}" >Login</a>
        </div>
    </form>
{% endblock %}

