<div class="footer fixed-bottom">
    <div class="container-fluid">
        <div class="row">
        	<div class="col-8">
        		<strong>{{ applicationTitle }}</strong>
        	</div>
            <div class="col-4">
            	<div class="text-md-right footer-links d-none d-sm-block">
                	&copy;2019 - {{ "now" | date("Y") }} <a href="http://vankosoft.org" target="_blank">VankoSoft</a>
                </div>
            </div>
        </div>
    </div>
</div>
