<div style="display: none;">
    <form id="deleteForm" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" id="resource_delete__token" name="_csrf_token" value="">
    </form>
</div>
