{% if widget.isActive %}
    <ul class="dropdown-menu dropdown-submenu dropdown-submenu-left">
        {% for oLocale in widget.params.locales %}
            <li>
                <a class="dropdown-item " href="{{ path( 'app_set_locale', {'locale': oLocale.code} ) }}">
                    <i class="flag flag-{{ ( oLocale.code | split( '_' ) )[1] | lower }}"></i>
                    {{ oLocale.title }}
                </a>
           </li>
        {% endfor %}
    </ul>
{% endif %}
