<!-- 'data-bs-focus' attribute is very important if you use form TextArea inside the modal dialog -->
<div id="bannerModal"
    class="modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    data-bs-focus="false"
    data-placeId="0"
    data-itemId="0"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                    {{ 'vs_cms.modal.slider_item.create_title' | trans( {},'VSCmsBundle' ) }}
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalBodyBanner" class="card alert shadow mb-2">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer" id="imContainer">
                <button type="button" class="btn btn-primary" id="btnSaveBanner">
                    {{ 'vs_application.form.save' | trans( {},'VSApplicationBundle' ) }}
                </button>
                <button type="button" class="btn btn-primary" style="display: none;">
                    {{ 'vs_application.form.apply' | trans( {},'VSApplicationBundle' ) }}
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
    </div>
</div>
