<div id="modalUploadFile" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'vs_cms.template.filemanager_update_upload_file' | trans( {},'VSCmsBundle' ) }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="cardUploadFile" class="card">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="modal-footer" id="imContainer">
                <button type="button" class="btn btn-primary" id="btnSaveFile">
                    {{ 'vs_cms.template.filemanager_update_button_upload' | trans( {},'VSCmsBundle' ) }}
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ 'vs_application.form.cancel' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
    </div>
</div>
