{% if form_errors(form) is not empty %}
    <div class="alert alert-block alert-danger fade in">
        <button type="button" class="close close-sm" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <strong>Error!</strong> {{ form_errors(form) }}
    </div>
{% endif %}
<section class="panel">   
    <div id="parentTreeContainer" class="treeContainer"></div>

    <div class="panel-body bio-graph-info">
        {% form_theme form with ['IAApplicationBundle:Form:form.html.twig', _self] %}

        {{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
            {{ form_widget(form) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>
