{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_cms.template.pages_index_title' | trans( {},'VSCmsBundle' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'vs_cms.template.pages_index_title' | trans( {},'VSCmsBundle' ) }}{% endblock %}

{% block content %}
    <div class="row">
        
    </div>
{% endblock content %}



