{% extends "@VSApplication/layout.html.twig" %}

{% if( item.id ) %}
	{% set pageTitle = 'vs_cms.template.pages_update_title' | trans( {},'VSCmsBundle' ) %}
{% else %}
	{% set pageTitle = 'vs_cms.template.pages_create_title' | trans( {},'VSCmsBundle' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle}}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {% if(item.id) %}Edit: {{ item.title }}{% else %}Create New Static Page{% endif %}{% endblock %}

{% block content %}
	<div class="row">
        
    </div>  
{% endblock content %}
